<p>Ok, you live in a Boat. Is that correct?</p>
<button type="button" class="btn btn-info btn-lg"><%= link_to "YES", targus_url %></button>
<button type="button" class="btn btn-info btn-lg"><%= link_to "NO", hole_url %></button>

<div class="row">
  <div class="col-md-12">
    <%= image_tag 'boat', alt: "a boat", class: "img-responsive" %>
  </div>
</div>
