<p>Okay. I'm almost finished setting up your account:</p>
<h2><%= @name %></h2>
<p>But I have a few more questions.</p>
<button type="button" class="btn btn-info btn-lg"><%= link_to "NEXT", question_url %></button>
