<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-push-2 text-center">
      <p>Okay. I'm almost finished setting up your account:</p>
      <h2>USER 7819</h2>
      <p>But I have a few more questions.</p>
    </div>
  </div>
</div>
