<p>Do you live in a Hole or a Boat?</p>
<button type="button" class="btn btn-info btn-lg"><%= link_to "HOLE", hole_url %></button>
<button type="button" class="btn btn-info btn-lg"><%= link_to "BOAT", boat_url %></button>
<button type="button" class="btn btn-info btn-lg"><%= link_to "NO THANKS", targus_url %></button>
