<p>I think you said your name is:</p>
<h2><%= @name %></h2>
<p>Is this correct?</p>
<button type="button" class="btn btn-info btn-lg"><%= link_to "YES", confirm_url %></button>
<button type="button" class="btn btn-info btn-lg"><%= link_to "NO", confirm_url %></button>
<button type="button" class="btn btn-info btn-lg"><%= link_to "WHAT", confirm_url %></button>
